/* MAIN BODY */
*{
  margin: 0;
  padding: 0;
  border: 0;
}

.brand-icon {
  background-image: url(../images/archivelogo.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 20px;
}

.adventure-logo {
  background: url(../images/adventure.jpg) center center no-repeat;
  height: 200px;
  background-size: contain;
  margin-bottom: 20px;
}

body {
  background-color: #ecdff0;
  color: #140101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
    flex-grow: 1;
}

h1 {
  font-size:2.2rem;
}

h2 {
  font-size:1.7rem;
  font-weight: 600;
}

h3 {
  font-size:1.4rem;
  font-weight: 600;
}

h4 {
  font-size:1.1rem;
  font-weight: 700;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8)
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

/* FOOTER */
footer {
    height: 80px;
    background-color: indigo;
  }
  
  .social-networks {
    text-align: center;
    padding: 0;
  }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 10px;
    color: white;
  }

.card-image{
  height: 300px;
  overflow: hidden;
}

.photo-image{
  object-fit: cover;
  height: 100%;
}

.card-content{
  padding: 0;
}

/* GALLERY */
img {
  width: 100%;
}
.photo-grid-container {
  column-count: 5;
  column-width: 300px;
}
.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 100%;
}

.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 32px solid rgba(0, 0, 0, 0.5);
  border-bottom: 32px solid rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}