/* MAIN BODY */
*{
  margin: 0;
  padding: 0;
  border: 0;
}

.brand-icon {
  background-image: url(../images/archivelogo.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 20px;
}

.adventure-logo {
  background: url(../images/adventure.jpg) center center no-repeat;
  height: 200px;
  background-size: contain;
  margin-bottom: 20px;
}

body {
  background-color: #ecdff0;
  color: #140101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
    flex-grow: 1;
}

h1 {
  font-size:2.2rem;
}

h2 {
  font-size:1.7rem;
  font-weight: 600;
}

h3 {
  font-size:1.4rem;
  font-weight: 600;
}

h4 {
  font-size:1.1rem;
  font-weight: 700;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8)
}

.flashes h4 {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

/* FOOTER */
footer {
    height: 80px;
    background-color: indigo;
  }
  
  .social-networks {
    text-align: center;
    padding: 0;
  }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 10px;
    color: white;
  }

.card-image{
  height: 300px;
  overflow: hidden;
}

.photo-image{
  object-fit: cover;
  height: 100%;
}

.card-content{
  padding: 0;
}