@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;500&display=swap');

/* MAIN BODY */
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'JetBrains Mono';
}

body {
  background-color: #e3f2fd;
  color: #140101;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

main {
    flex-grow: 1;
}

.nav-extended {
  background-color: #40c4ff;
}

.sidenav {
  background-color: #80d8ff;
}

.brand-icon {
  background-image: url(../images/archivelogo.svg);
  width: 60px;
  height: 60px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 20px;
}

#header-logo-section {
  height: 30vh;
  margin-top: -30px;
}

.adventure-logo {
  background: url(../images/header-logo.png) center center no-repeat;
  height: 50vh;
  background-size: contain;
}

h1 {
  font-size:2.2rem;
}

h2 {
  font-size:1.7rem;
  font-weight: 600;
  text-transform: lowercase;
  margin-top: 0px;
}

h3 {
  font-size:1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size:1.1rem;
  font-weight: 700;
}

h5 {
  font-size:1rem;
  font-weight: 200;
  text-transform: uppercase;
}

h6 {
  font-size:.8rem;
  font-weight: 150;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8)
}

.flashes h4 {
    line-height: 3;
    color: #046db5;
}

.btn-small {
    margin: 5px;
}

.add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  padding-bottom: 2%;
}

/* FOOTER */
footer {
    height: 80px;
    background-color: #40c4ff;
  }
  
  .social-networks {
    text-align: center;
    padding: 0;
  }
  
  .social-networks li {
    display: inline;
  }
  
  .social-networks i {
    font-size: 150%;
    margin: 1%;
    padding: 10px;
    color: #046db5;
  }

.card-image{
  height: 300px;
  overflow: hidden;
}

.photo-image{
  object-fit: cover;
  height: 100%;
}

.card-content{
  padding: 0;
}

/* GALLERY */
img {
  width: 100%;
}

.photo-grid-container {
  column-count: 5;
  column-width: 300px;
}

.photo-grid-item {
  margin: 0 auto 15px;
  max-width: 400px;
  width: 90%;
}

.hover-img {
  background-color: #000;
  color: #fff;
  display: inline-block;
  margin: 8px;
  max-width: 320px;
  min-width: 240px;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
  transform: scale(1);
  opacity: 1;
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

.icon {
  position: relative;
}

/* HEADINGS */
.decorated{
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
}
.decorated > span{
 position: relative;
 display: inline-block;
}
.decorated > span:before, .decorated > span:after{
 content: '';
 position: absolute;
 top: 50%;
 border-bottom: 2px dashed;
 width: 591px;
 margin: 0 20px;
}
.decorated > span:before{
 right: 100%;
}
.decorated > span:after{
 left: 100%;
}

.card-panel {
  background-color: aliceblue;
  padding: 8px;
}

.button-submit {
  color: #046db5;
  border: 2px solid #046db5;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 12px;
  padding: 16px 23px;
  position: relative;
  background-color: #ffb74d;
}

.btn-large:hover {
  background-color: #80d8ff;
}
