{% extends "base.html" %}
{% block content %}

<section id="header-logo-section">
    <a href="/">
        <div class="adventure-logo">
        </div>
    </a>
</section>
<!-- about us -->
<section class="about">
    <div class="center">
        <h1>About Us</h1>
            <p>Do you ever come home from your travels and end up with hundreds - if not thousands - of photos? <br>
            One of the best parts of finishing up a trip is looking back on all the incredible photos you’ve taken. 
            They allow you to relive your best memories from an adventure, and when shared, help transport others to a specific moment
            in time that you skilfully captured.<br>
            <br>
            It can be difficult to share your favourite images with your friends/family/internet strangers without completely
            overwhelming and boring them. It can get dull seeing the same 200 pictures of a beach!<br>
            Pick your favourite images and upload them to <span class="pink-text text-lighten-2">Archive The Adventure</span> and don’t let them perish in purgatory
            on your camera’s SD card.</p><br>
    </div>
    <div class="center-align">
        <a href="{{ url_for('browse') }}" class="btn pink lighten-3">Browse Gallery</a>
    </div>
</section>

{% endblock %}