{% extends "base.html" %}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">Add Photo</h3>
    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                    <input id="photo_name" name="photo_name" minlength="3" maxlength="20"
                        type="text" class="validate" required>
                    <label for="photo_name">Photo Name</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="photo_description" name="photo_description" minlength="5"
                    maxlength="100" class="materialize-textarea validate" required></textarea>
                <label for="photo_description">Photo Description</label>
            </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                    <input id="date_taken" name="date_taken"
                        type="text" class="datepicker form-control validate" required>
                    <label for="date_taken">Date Taken</label>
                </div>
            </div>
        </form>
    </div>

{% endblock %}