{% extends "base.html" %}
{% block content %}

<section>
    <h1 class="decorated center-align grey-text text-darken-4"><span>Browse Gallery</span></h1>
</section>
<!-- browse the gallery -->
<section class="photo-grid-container">
    {% for photo in photos %}
    <div class="photo-grid-item">
        <figure class="hover-img">
            <img src="{{ photo.image_url }}" alt="{{ photo.photo_name }}">
            <figcaption>
                <h3>{{ photo.photo_name }}</h3>
                <h6><em>Taken by: {{ photo.created_by }}</em></h6>
            </figcaption>
        </figure>
    </div>
    {% endfor %}
</section>

{% endblock %}