{% extends "base.html" %}

{% block content %}
<!-- contact us form  -->
<h1 class="decorated grey-text text-darken-4 center-align text-margin"><span>Contact Us</span></h1>
    <div class="container-fluid display-container">
        <div class="row display-row">
            <form id="contact-form" class="col s12 l8 offset-l2 " method="POST" action="{{ url_for('contact')}}">
                <div class="card-panel form-card padding-landscape">
                    <!--Email-->
                    <div class="row">
                        <div class="input-field input-margin col s12 ">
                            <i class="fas fa-envelope prefix light-blue-text text-darken-1"></i>
                            <input id="email" name="email" type="email" class="validate" required>
                            <label for="email">Email</label>
                        </div>
                    </div>
                     <!--Message-->
                     <div class="row">
                        <div class="input-field input-margin col s12">
                            <i class="fas fa-pen prefix light-blue-text text-darken-1"></i>
                            <textarea id="message" name="message" class="materialize-textarea" required></textarea>
                            <label for="message">Your Message...</label>
                        </div>
                    </div>
                    <!--Sent Message -->
                    <div class="row">
                        <button type="submit" class="button-submit col s4 offset-s4 btn-large"
                            value="Send"> <p>Send <i class="fas fa-sign-in-alt hide-on-med-and-down"></i></p>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}