{% extends "base.html" %}
{% block content %}

<ul class="collapsible">
        {% for photo in photos %}
        <li>
            <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                <i class="fas fa-caret-down"></i>
                <strong>{{ photo.photo_name }}</strong> : {{ photo.date_taken }}
            </div>
            <div class="collapsible-body">
                <strong>{{ photo.category_name }}</strong>
                <p>{{ photo.photo_description }}</p>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#two!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#three!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#four!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#five!"><img src="https://picsum.photos/id/237/200/300"></a>
    </div>

{% endblock %}