{% extends "base.html" %}
{% block content %}

<!-- LOGO -->
<section id="logo-section">
    <a href="/">
        <div class="adventure-logo">
        </div>
    </a>
</section>

<h1 class="decorated center-align deep-purple-text"><span>Search Photos</span></h1>

    <div class="row card-panel grey lighten-5">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search photos</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_photos') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="light-blue darken-1 btn text-shadow">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    {% if photos|length > 0 %}
    <div class="row card-panel">
        {% for photo in photos %}
        <div class="col s12 m6">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="photo-image" src="{{ photo.image_url }}" alt="{{ photo.photo_name }}">
                </div>
                <div class="card-content">
                    <div class="card-title center-align title-font orange-text">
                        <h2>{{ photo.photo_name }}</h2>
                    </div>
                    <div class="center-align category-name-font">
                        <h3> {{ photo.category_name }} </h3>
                        <h5> date taken: {{ photo.date_taken }} </h5>
                    </div>
                    <h6 class="created-font center-align">
                        <em>by: {{ photo.created_by }}</em>
                    </h6>
                </div>
            </div>
                <div class="card-action center align">
                {% if session.user|lower == photo.created_by|lower %}
                <a href="{{ url_for('edit_photo', photo_id=photo._id)}}" class="btn-small green-btn">Edit</a>
                    <!-- Modal Trigger -->
                    <a class="waves-effect waves-light btn modal-trigger grey" href="#deletemodal-{{loop.index}}">Delete</a>
                    <!-- Modal Structure -->
                    <div id="deletemodal-{{loop.index}}" class="modal">
                        <div class="modal-content">
                            <h4>Remove a photo?</h4>
                            <p>Are you sure you want to remove a photo from the database?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('delete_photo', photo_id=photo._id) }}" class="modal-close waves-effect waves-white btn-flat">Delete</a>
                            <a href="{{ url_for('get_photos') }}" class="modal-close waves-effect waves-white btn-flat">Cancel</a> 
                        </div>
                    </div>
                {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
        <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}