{% extends "base.html" %}
{% block content %}

<h3 class="light-blue-text text-darken-4 center-align">All Photos</h3>

    <ul class="collapsible">
        {% for photo in photos %}
        <li>
            <div class="collapsible-header white-text indigo lighten-2 text-shadow">
                <div class="col s3">
                    <i class="fas fa-caret-down"></i>
                    <a href="" class="btn-small green accent-4">Done</a>
                    <a href="{{ url_for('edit_photo', photo_id=photo._id) }}"class="btn-small light-blue lighten-1">Edit</a>
                </div>
            <div class="col s9">
                <strong>{{ photo.photo_name }}</strong> : {{ photo.date_taken }}
            </div>
            </div>
            <div class="collapsible-body">
                <strong>{{ photo.category_name }}</strong>
                <p>{{ photo.photo_description }}</p>
                <p><em>added by: {{ photo.created_by }}</em></p>
            </div>
        </li>
        {% endfor %}
    </ul>

{% endblock %}
    <!-- 
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#two!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#three!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#four!"><img src="https://picsum.photos/id/237/200/300"></a>
        <a class="carousel-item" href="#five!"><img src="https://picsum.photos/id/237/200/300"></a>
    </div>
    -->