{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-1">
                    {{ username }}'s profile <i class="fa-solid fa-hand-peace"></i>
                </h3>
            </div>
        </div>
    </div>

    <div id="your-photos">
        <div class="row">
            <h1 class="decorated center-align grey-text text-darken-4"><span>Your Photos</span></h1>
        </div>
        <!-- button which takes user to 'add photo' page -->
        {% if session.user %}
          <div class="add-button"><a href="{{ url_for('add_photo') }}" class="button-submit col s4 offset-s4 btn-large">Add New Photo <i class="fa-solid fa-camera"></i></a></div>
        {% endif %}
    </div>
    <!-- gallery of user's own images -->
    {% if photos|length > 0 %}
    <div class="row card-panel">
        {% for photo in photos %}
        <div class="col s12 m6">
            <div class="card hoverable">
                <div class="card-image">
                    <img class="photo-image" src="{{ photo.image_url }}" alt="{{ photo.photo_name}}">
                </div>
                <div class="card-content">
                    <div class="card-title center-align title-font light-blue-text text-darken-1">
                        <h2>{{ photo.photo_name }}</h2>
                    </div>
                    <div class="center-align category-name-font grey-text text-darken-4">
                        <h3> {{ photo.category_name }} </h3>
                        <h4> {{ photo.photo_description }} </h4>
                        <h5> date taken: {{ photo.date_taken }} </h5>
                    </div>
                    <h6 class="created-font center-align">
                        <em>by: {{ photo.created_by }}</em>
                    </h6>
                </div>
            </div>
                <!-- edit/delete photo buttons -->
                <div class="card-action center align">
                {% if session.user|lower == photo.created_by|lower %}
                <a href="{{ url_for('edit_photo', photo_id=photo._id)}}" class="btn-small light-blue lighten-2">Edit</a>
                    <!-- modal trigger -->
                    <a class="waves-effect waves-light btn-small modal-trigger pink lighten-2" href="#deletemodal-{{loop.index}}">Delete</a>
                    <!-- modal structure -->
                    <div id="deletemodal-{{loop.index}}" class="modal">
                        <div class="modal-content">
                            <h4 class="pink-text">Remove a photo?</h4>
                            <p>Are you sure you want to remove a photo from the database?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ url_for('get_photos') }}" class="modal-close waves-effect waves-white btn-flat">Cancel</a> 
                            <a href="{{ url_for('delete_photo', photo_id=photo._id) }}" class="modal-close pink-text waves-effect waves-white btn-flat">Delete</a>
                        </div>
                    </div>
                {% endif %}
                </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">No Results Found</h3>
    {% endif %}

{% endblock %}