{% extends "base.html" %}
{% block content %}


    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-green-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

    <div id="your-photos">
        <div class="row">
            <h2 class="h2-profile">Your Photos</h2>
        </div>
 
        {% if session.user %}
          <a href="{{ url_for('add_photo') }}" class="btn-small green-btn categories-btn">Add New Photo</a>
        {% endif %}
    </div>

{% endblock %}